@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
div{
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(10, 0.5fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "header header header"
    "main main aside"
    "main main aside"
    "section section aside"
    "section section article"
    "address address article"
    "address address article"
    "footer footer footer"
    "footer footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
section{
    grid-area: section;
}
address{
    grid-area: address;
}
aside{
    grid-area: aside;
}
article{
    grid-area: article;
}
footer{
    grid-area: footer;
}
header{
    background: #8D8484;
    color: #000000;
}
main{
    background: #776969;
    color: #FFFFFF;
}
section{
    background: #643030;
    color: #FFFFFF;
}
address{
    background: #441818;
    color: #FFFFFF;
}
aside{
    background: #937575;
    color: #FFFFFF;
}
article{
    background: #644C4C;
    color: #FFFFFF;
}
footer{
    background: #BDBDBD;
    color: #000000;
}
header, main, section, address, aside, article, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 400;
}
