*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   margin: 20px 10px 10px 10px;
}
header>nav>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}
header>nav>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #535959;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
}
header>nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header{
    margin: 20px auto 10px 20px;
}
main{
    width: 100%;
    height: 300px;
    background-color: #00BFFF;
    border-radius: 20px;
    /*margin: 0 10px 10px 10px;*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
main>p{
    font-size: 40px;
    font-weight: 500;
    margin: 10px 30px 0 0 ;
    color: white;
}
section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 350px;
    gap: 20px;
}
.first{
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.second{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.first>div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 150px;
    background-color: #7ac4df;
    border-radius: 20px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    font-weight: 500;

}
.second>div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 150px;
    background-color: #7ac4df;
    border-radius: 20px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    font-weight: 500;

}
section div p{
    margin: 10px 20px 0 0 ;
}
footer{
    width: 100%;
    height: 50px;
    background-color: #00BFFF;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer>p{
    color: white;
    font-size: 40px;
    font-weight: 500;
}

