@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
section{
    width: 100%;
    height: 569px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 578px;
    height: 441px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    width: 174px;
    height: 41px;
    border-radius: 8px;
    background: var(--Brand-Secondary, #FF9500);
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    margin-bottom: 24px;
    margin-right: 24px;

}
.first>a{
    text-decoration: none;
    color: var(--Pallete-White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */

}
.content>a{
    width: 132px;
    height: 25px;
    color: var(--Brand-Primary, #6F1DF4);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    margin-bottom: 32px;
}
h2{
    width: 578px;
    height: 154px;
    color: var(--Text-txt-primary, #000);
    font-size: 64px;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
    margin-bottom: 24px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form>ul{
    width: 578px;
    height: 102px;
    margin-bottom: 24px;
}

form>ul>li{
    align-self: stretch;
    color: var(--Text-txt-secondary, #3C3C43);
    font-size: 24px;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin-left: 30px;

}
.second{
    width: 132px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Brand-Primary, #6F1DF4);
}
.second>a{
    text-decoration: none;
    color: var(--Pallete-White, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.video{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 578px;
    height: 441px;
    margin-left: 24px;
}
iframe{
    width: 578px;
    height: 325px;

}
